.header {
    background-color: white;
    border-radius: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.25rem 0.25rem 0.5rem #bcbcbc,
        -0.25rem  -0.25rem 0.5rem #e4e4e4;
}