.move {
    background-color: white;

    padding: 1.5rem;

    border-radius: 1.2rem;
    overflow: hidden;

    box-shadow: 0.25rem 0.25rem 0.5rem #bcbcbc,
        -0.25px -0.25rem 0.5rem #e4e4e4;
}

.contentParent {
    height: 100%;
    width: 100%;

    overflow-y: scroll;

    display: grid;
    gap: 1.5rem;
}

.content {
    height: 100%;
    background-color: rgb(5, 50, 71);

    padding: 0.5rem;
    text-align: center;
}

.content>h1 {
    color: rgb(206, 181, 249);
    font-size: 2rem;

    margin: 1.5rem;
}

.content>p {
    color: white;
    font-size: 1.2rem;
}