.move{
    padding: 30px;
    background-color: white;
    border-radius: 14px; 
    overflow: hidden;   
    box-shadow:  5px 5px 10px #bcbcbc,
    -5px -5px 10px #e4e4e4;
}



.contentParent{
height: 100%;
width: 100%;
overflow-y: scroll;
display: grid;
gap: 30px;

}
.contentParent::-webkit-scrollbar{
    width: 0px;
}



.content{
    background-color: rgb(5, 50, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.content >h1{
    color: rgb(206, 181, 249);
    font-size: 30px;
    margin: 1.5rem;
}
.content >p{
    color: white;
    font-size: 20px;
    text-align: center;
}
