.inputParent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.inputTitle {
    font-size: 1.25rem;
    font-weight: bold;
}

.inputEnter {
    height: 1.5rem;

    border-radius: 14px;
    border: 0.1rem solid gray;
    outline: none;

    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;

}

.inputEnter:focus {
    background-color: rgba(0, 255, 255, 0.051);
}

.textareaEnter::-webkit-scrollbar {
    width: 0px;
}