.form{
    height: 37rem;
    background-color: rgb(255, 255, 255);
    width: 54vw;
    box-shadow:  5px 5px 10px #bcbcbc,
             -5px -5px 10px #e4e4e4;
             border-radius: 14px;
             margin: 30px 0px;
             display: flex;
             flex-direction: column;
             /* justify-content: space-evenly; */
             padding: 30px;
}
